html {
    background-color: hsl(254, 100%, 58%);
    background-color: hsl(234, 87%, 27%);
    background-color: hsl(197, 98%, 46%);
    background-color: hsl(182, 88%, 65%);
    background-color: #357DED;
    background-color: hsl(208, 95%, 8%);
    background-color: hsl(212, 87%, 12%);
    background-color: hsl(212, 100%, 40%);

    background-color: hsl(197, 71%, 73%);
    background-color: #357DED;
    background-color: #357DED;
    background-color: #357DED;
    background-color: rgba(0, 122, 255, 1);
    background-color: rgb(0, 233, 97);
    background-color: hsl(330, 100%, 51%);
}